body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 15vh 1fr;
  font-family: "Delius", sans-serif;
}
header {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: black;
}
button {
  margin: 0 20px;
  padding: 2vh 2vw;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.946);
  background-color: black;
  border: 1px solid white;
  transition: 0.4s;
}
button:hover {
  color: orangered;
  border-color: rgba(255, 68, 0, 0.721);
  background-color: rgb(255, 211, 154);
}
#content {
  background-image: url("./img/boba2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 20vw;
  min-width: 600px;
}
main > * {
  padding: 10px;
  background-color: rgba(247, 205, 156, 0.693);
  border: 2px solid rgba(255, 68, 0, 0.721);
  border-radius: 10px;
}

h1,
h2,
h3 {
  font-family: "Sour Gummy", sans-serif;
}
h1 {
  margin: 0.6em 0;
  font-size: 3.6em;
  color: rgb(254, 254, 254);
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgb(255, 101, 11);
  background: none;
  border: none;
  border-radius: 10px;
}
h2 {
  margin: 0;
  font-size: 1.8em;
  color: rgb(254, 254, 254);
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgb(255, 101, 11);
  background: none;
  border: none;
  border-radius: 10px;
}
h3 {
  margin-top: 2em;
  font-size: 1.4em;
  color: rgb(254, 254, 254);
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgb(255, 101, 11);
  background: none;
  border: none;
}
p {
  font-size: 1.2em;
}
ul {
  margin-bottom: 3em;
  list-style: none;
}
li {
  font-size: 2em;
}
footer {
  height: 5vh;
}
a {
  padding: 10px;
  color: chocolate;
  text-decoration: none;
}
a:hover {
  color: rgb(239, 143, 75);
}

img {
  display: block;
  margin: auto;
  width: 20%;
}

.contact {
  margin-top: 2em;
  width: 20vw;
  text-align: center;
}
